                <div class="page-actions">
                    <div class="btn-group">
                        <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="hidden-sm hidden-xs">{{ 'action.insert'|trans }}&nbsp;</span>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">

                            {% if is_granted('ROLE_CREATE_BUILDING') %}
                                <li>
                                    <a href="{{ path('building_add') }}">
                                        {{ 'insert.building'|trans }}
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>