<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        <li class="separator hide"> </li>
        <!-- BEGIN NOTIFICATION DROPDOWN -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
        <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
        {# {% include('includes/header/dropdown-notifications.html.twig') %} #}
        <!-- END NOTIFICATION DROPDOWN -->
        <li class="separator hide"> </li>
        <!-- BEGIN INBOX DROPDOWN -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        {# {% include('includes/header/dropdown-inbox.html.twig') %} #}
        <!-- END INBOX DROPDOWN -->
        <li class="separator hide"> </li>
        <!-- BEGIN TODO DROPDOWN -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        {# {% include('includes/header/dropdown-tasks.html.twig') %} #}
        <!-- END TODO DROPDOWN -->
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        {% include('includes/header/dropdown-user.html.twig') %}
        <!-- END USER LOGIN DROPDOWN -->
        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
        {# {% include('includes/header/quick-sidebar-toggler.html.twig') %} #}
        <!-- END QUICK SIDEBAR TOGGLER -->
    </ul>
</div>